html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

#gradient-canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

body.fade-in {
  opacity: 1;
}

h1 {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  color: #d1a1a1;
}

p {
  font-family: "Poppins", serif;
  font-size: 1rem;
  margin-left: 10px;
  margin-right: 10px;
  color: #d1a1a1;
  text-align: left;
}

.logo-img {
  width: 50px;
  height: 50px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

.logo-img:hover {
  transform: scale(1.1);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 5%;
  background-color: transparent;
  border-bottom: 2px solid #d1a1a1;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: color 0.3s ease, transform 0.3s ease;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins", serif;
  color: #d1a1a1;
  font-style: italic;
}

.nav-left, .nav-right {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

.nav-link {
  text-decoration: none;
  color: #d1a1a1;
  font-family: "Poppins", serif;
  font-size: 15px;
  font-weight: 300;
  transition: 0.3s ease;
}

.nav-link.active {
  color: #a86565;
  font-weight: bold;
  pointer-events: none;
}


.nav-link:hover {
  color: #a86565;
  transform: scale(1.05);
}

.hamburger {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #d1a1a1;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background: #fde9ec;
  width: 200px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.mobile-menu.active {
  display: flex;
}

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  padding: 40px;
}

.about-title {
  font-style: italic;
  font-size: 5rem;
  flex: 1;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeSlide 1s ease-out forwards;
}

.about-title:nth-child(1) {
  animation-delay: 0.5s;
}

.about-text {
  flex: 2;
  max-width: 40rem;
  line-height: 1.6;
  padding-right: 10%;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeSlide 1s ease-out forwards;
}

.about-text:nth-child(2) {
  animation-delay: 1s;
}

.certifications-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  padding: 40px;
}

.certifications-title {
  font-style: italic;
  flex: 1;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeSlide 1s ease-out forwards;
}

.certifications-title h1 {
  font-size: 4.5rem;
}

.certifications-title:nth-child(1) {
  animation-delay: 0.5s;
}

.cert-content {
  flex: 2;
  display: flex;
  max-width: 40rem;
  flex-direction: column;
  gap: 2rem;
  padding-right: 10%;
}

.cert-description {
  line-height: 1.6;
  margin-top: -40%;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeSlide 1s ease-out forwards;
}

.cert-description:nth-child(2) {
  animation-delay: 1s;
}

.container {
  position: relative;
  width: 420px;
  height: auto;
  perspective: 1000px;
  align-self: center;
}

.card {
  position: absolute;
  width: 75%;
  top: 0;
  left: 0;
  padding: 10px 20px 20px;
  border-radius: 15px;
  background-color: #ebcaca;
  box-shadow: 0 20px 40px rgba(209, 161, 161, 0.2);
  transform-origin: center;
  transition: transform 2s ease, opacity 0.6s ease, z-index 0s 0.6s;
  opacity: 0;
  transform: scale(0.95) translateY(40px) rotateZ(0deg);
  pointer-events: none;
  cursor: pointer;
}

.card.active {
  opacity: 1;
  z-index: 10;
  transform: scale(1) translateY(0) rotateZ(-1.5deg);
  pointer-events: auto;
}

.card.out {
  opacity: 0;
  transform: scale(0.92) translateY(80px) rotateZ(6deg);
  z-index: 5;
  transition:
    transform 0.5s ease-in,
    opacity 0.5s ease-in;
}

.card h2 {
  font-family: "Poppins", serif;
  text-align: left;
  color: #a86565;
  font-size: 1rem;
  margin-bottom: -10px;
}

.card h3 {
  font-family: "Poppins", serif;
  text-align: left;
  color: #a86565;
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 10px;
}

.card img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.card:hover {
  transform: scale(1.02);
}

.tech-stack-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  padding: 40px; 
}

.tech-stack-title {
  font-style: italic;
  flex: 1;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeSlide 1s ease-out forwards;
}

.tech-stack-title h1 {
  font-size: 5rem;
}

.tech-stack-title:nth-child(1) {
  animation-delay: 0.5s;
}

.tech-content {
  flex: 2;
  display: flex;
  max-width: 40rem;
  flex-direction: column;
  gap: 2rem;
  padding-right: 10%;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeSlide 1s ease-out forwards;
}

.tech-content:nth-child(2) {
  animation-delay: 1s; 
}

.tech-description {
  line-height: 1.6;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem;
}

.tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-item img {
  width: 50px;
  height: 50px;
  border: 3px solid #d7a1aa;
  border-radius: 50%;
  padding: 0.5rem;
  background-color: white;
  transform: scale(0.8);
  animation: fadeInScale 0.6s ease forwards;
  transition: transform 0.3s ease;
}

.tech-item:nth-child(1) img { animation-delay: 0.1s; }
.tech-item:nth-child(2) img { animation-delay: 0.2s; }
.tech-item:nth-child(3) img { animation-delay: 0.3s; }
.tech-item:nth-child(4) img { animation-delay: 0.4s; }
.tech-item:nth-child(5) img { animation-delay: 0.5s; }
.tech-item:nth-child(6) img { animation-delay: 0.6s; }

.tech-item img:hover {
  transform: scale(1.1);
  transition: transform 1s ease;
}

.tech-item p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;
  padding: 40px; 
}

.contact-title {
  font-style: italic;
  flex: 1;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeSlide 1s ease-out forwards;
}

.contact-title h1 {
  font-size: 5rem;
}

.contact-title:nth-child(1) {
  animation-delay: 0.5s;
}

.contact-content {
  flex: 2;
  display: flex;
  max-width: 40rem;
  flex-direction: column;
  gap: 2rem;
  padding-right: 10%;
  opacity: 0;
  transform: translateX(-50px);
  animation: fadeSlide 1s ease-out forwards;
}

.contact-content:nth-child(2) {
  animation-delay: 1s;
}

.contact-description {
  line-height: 1.6;
}

.socials {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
}

.socials a {
  text-decoration: none;
  font-family: "Poppins", serif;
  color: #d1a1a1;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.socials a:hover {
  color: #a86565;
  transform: translateX(5px);
}

.socials a img {
  width: 24px;
  height: 24px;
  border: 2px solid #d7a1aa;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.socials a:hover img {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  h1 {
    margin-top: -1%;
}

.navbar {
  background-color: transparent;
  backdrop-filter: blur(10px);
}

.about-section {
    flex-direction: column;
    height: auto;
    text-align: center;
}

.about-title {
  text-align: center;
  padding-left: 0;
  margin-bottom: 5%;
  padding-right: 0;
  opacity: 0;
  transform: translateY(-50px);
  animation: fadeSlideFromTop 1s ease-out forwards;
  animation-delay: 0.5s;
}

.about-text {
  padding-right: 0;
  transform: translateY(-50px); 
  animation: fadeSlideFromTop 1s ease-out forwards;
  animation-delay: 1s;
}

.about-text p {
  text-align: center;
}

.certifications-section {
  flex-direction: column;
  height: auto;
  text-align: center;
}

.certifications-title {
  font-size: 5rem;
  text-align: center;
  padding-left: 0;
  margin-bottom: 5%;
  padding-right: 0;
  transform: translateY(-50px);
  animation: fadeSlideFromTop 1s ease-out forwards;
  animation-delay: 0.5s;
}

.cert-content {
  padding-right: 0;
}

.cert-description {
  margin-top: -8%;
  transform: translateY(-50px); 
  animation: fadeSlideFromTop 1s ease-out forwards;
  animation-delay: 1s;
}

.cert-description p {
  text-align: center;
}

.card {
  margin-top: 0;
}

.container {
  margin-left: 0;
  align-self: center;
}

.tech-stack-section {
  flex-direction: column;
  height: auto;
  text-align: center;
}

.tech-stack-title {
  text-align: center;
  padding-left: 0;
  margin-bottom: -5%;
  padding-right: 0;
  padding-left: 0;
  transform: translateY(-50px); 
  animation: fadeSlideFromTop 1s ease-out forwards;
  animation-delay: 0.5s;
}

.tech-content {
  align-items: center;
  padding-right: 0;
  transform: translateY(-50px); 
  animation: fadeSlideFromTop 1s ease-out forwards;
  animation-delay: 1s;
}

.tech-content p {
  text-align: center;
}

.tech-grid {
  grid-template-columns: repeat(2, 1fr);
}

.contact-section {
  flex-direction: column;
  height: auto;
  text-align: center;
}

.contact-title {
  text-align: center;
  padding-left: 0;
  margin-bottom: -5%;
  padding-right: 0;
  transform: translateY(-50px); 
  animation: fadeSlideFromTop 1s ease-out forwards;
  animation-delay: 0.5s;
}

.contact-content {
  align-items: center;
  padding-right: 0;
  transform: translateY(-50px); 
  animation: fadeSlideFromTop 1s ease-out forwards;
  animation-delay: 1s;
}

.contact-content p {
  text-align: center;
}

.socials {
  flex-direction: column;
}
  
}

@media (max-width: 768px) {
  .nav-left, .nav-right {
      display: none;
  }

  .hamburger {
      display: block;
  }

  .navbar {
      background-color: transparent;
      backdrop-filter: blur(10px);
  }

  h1 {
      margin-top: -1%;
  }

  .about-section {
      flex-direction: column;
      height: auto;
      text-align: center;
  }

  .about-title {
      text-align: center;
      padding-left: 0;
      margin-bottom: 5%;
      padding-right: 0;
  }

  .about-text {
      padding-right: 0;
  }

  .certifications-section {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .certifications-title {
    text-align: center;
    padding-left: 0;
    margin-bottom: 5%;
    padding-right: 0;
  }

  .certifications-title h1 {
    font-size: 3.5rem;
  }

  .cert-content {
    padding-right: 0;
  }
  
  .cert-description {
    margin-top: -8%;
  }

  .card {
    margin-top: 0;
  }

  .container {
    width: 75%;
    align-self: center;
  }

  .tech-stack-section {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .tech-stack-title {
    text-align: center;
    padding-left: 0;
    margin-bottom: -5%;
    padding-right: 0;
    padding-left: 0;
  }

  .tech-stack-title h1 {
    font-size: 4rem;
  }

  .tech-content {
    align-items: center;
    padding-right: 0;
  }

  .tech-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .contact-section {
    flex-direction: column;
    height: auto;
    text-align: center;
  }

  .contact-title {
    text-align: center;
    padding-left: 0;
    margin-bottom: -5%;
    padding-right: 0;
  }

  .contact-content {
    align-items: center;
    padding-right: 0;
  }

  .socials {
    flex-direction: column;
  }
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateX(-50px); /* Start from the left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Slide into place */
  }
}

@keyframes fadeSlideFromTop {
  0% {
    opacity: 0;
    transform: translateY(-50px); /* Start from the top */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* Slide into place */
  }
}